<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Measurements</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<h2>List of measurements</h2>

<table>
    <tr>
        <th>id</th>
        <th>logdate</th>
        <th>peaktemp</th>
        <th>unitsales</th>
    </tr>

    <tr th:each="measurement : ${measurements}">
        <td th:text="${measurement.id}">id</td>
        <td th:text="${measurement.logdate}">logdate</td>
        <td th:text="${measurement.peaktemp}">peaktemp</td>
        <td th:text="${measurement.unitsales}">unitsales</td>
    </tr>
</table>

</body>
</html>